# Lecture 10 Pandas and For Loops
- Student Name: Tanish Kochhar
- Section: A
- Roll No: 37

In [4]:
report_database = [
   {
      "class":10,
      "division":"A",
      "teacher":"Zoshua Colah",
      "scores":{
         "student_name":[
            "Jay",
            "Aaryan",
            "Sahil",
            "Riya",
            "Shubh"
         ],
         "math_scores":[
            20,
            56,
            76,
            78,
            90
         ],
         "chemistry_scores":[
            32,
            36,
            78,
            23,
            100
         ],
         "information_technology_scores":[
            34,
            6,
            88,
            100,
            45
         ],
         "physics_scores":[
            6,
            88,
            48,
            90,
            25
         ]
      },
      "emails":{
         "student_name":[
            "Jay",
            "Aaryan",
            "Sahil",
            "Riya",
            "Shubh",
            "Abdul"
         ],
         "student_email":[
            "Jay@gmail.com",
            "Aaryan@gmail.com",
            "Sahil@gmail.com",
            "Riya@gmail.com",
            "Shubh@gmail.com",
            "Abdual@gmail.com"
         ]
      }
   },
   {
      "class":10,
      "division":"B",
      "teacher":"Aayushi Shah",
      "scores":{
         "student_name":[
            "Jai",
            "Aryan",
            "Firoz",
            "Steve",
            "Rhea"
         ],
         "math_scores":[
            32,
            56,
            76,
            78,
            90
         ],
         "chemistry_scores":[
            32,
            56,
            75,
            23,
            10
         ],
         "information_technology_scores":[
            34,
            6,
            48,
            100,
            45
         ],
         "physics_scores":[
            6,
            88,
            58,
            90,
            25
         ]
      },
      "emails":{
         "student_name":[
            "Jai",
            "Aryan",
            "Firoz",
            "Steve",
            "Rhea"
         ],
         "student_email":[
            "Jai@gmail.com",
            "Aryan@gmail.com",
            "Firoz@gmail.com",
            "Steve@gmail.com",
            "Rhea@gmail.com"
         ]
      }
   },
   {
      "class":10,
      "division":"C",
      "teacher":"Rahul Joy",
      "scores":{
         "student_name":[
            "Kareena",
            "Alia",
            "Priyanka",
            "Shahrukh",
            "Salman"
         ],
         "math_scores":[
            22,
            56,
            76,
            78,
            90
         ],
         "chemistry_scores":[
            30,
            56,
            78,
            23,
            100
         ],
         "information_technology_scores":[
            34,
            6,
            98,
            100,
            40
         ],
         "physics_scores":[
            60,
            88,
            58,
            90,
            25
         ]
      },
      "emails":{
         "student_name":[
            "Kareena",
            "Alia",
            "Priyanka",
            "Shahrukh",
            "Salman"
         ],
         "student_email":[
            "Kareena@gmail.com",
            "Alia@gmail.com",
            "Priyanka@gmail.com",
            "Shahrukh@gmail.com",
            "Salman@gmail.com"
         ]
      }
   }
]

In [9]:
report_database

[{'class': 10,
  'division': 'A',
  'teacher': 'Zoshua Colah',
  'scores': {'student_name': ['Jay', 'Aaryan', 'Sahil', 'Riya', 'Shubh'],
   'math_scores': [20, 56, 76, 78, 90],
   'chemistry_scores': [32, 36, 78, 23, 100],
   'information_technology_scores': [34, 6, 88, 100, 45],
   'physics_scores': [6, 88, 48, 90, 25]},
  'emails': {'student_name': ['Jay',
    'Aaryan',
    'Sahil',
    'Riya',
    'Shubh',
    'Abdul'],
   'student_email': ['Jay@gmail.com',
    'Aaryan@gmail.com',
    'Sahil@gmail.com',
    'Riya@gmail.com',
    'Shubh@gmail.com',
    'Abdual@gmail.com']}},
 {'class': 10,
  'division': 'B',
  'teacher': 'Aayushi Shah',
  'scores': {'student_name': ['Jai', 'Aryan', 'Firoz', 'Steve', 'Rhea'],
   'math_scores': [32, 56, 76, 78, 90],
   'chemistry_scores': [32, 56, 75, 23, 10],
   'information_technology_scores': [34, 6, 48, 100, 45],
   'physics_scores': [6, 88, 58, 90, 25]},
  'emails': {'student_name': ['Jai', 'Aryan', 'Firoz', 'Steve', 'Rhea'],
   'student_email': ['Jai@gmail.com',
    'Aryan@gmail.com',
    'Firoz@gmail.com',
    'Steve@gmail.com',
    'Rhea@gmail.com']}},
 {'class': 10,
  'division': 'C',
  'teacher': 'Rahul Joy',
  'scores': {'student_name': ['Kareena',
    'Alia',
    'Priyanka',
    'Shahrukh',
    'Salman'],
   'math_scores': [22, 56, 76, 78, 90],
   'chemistry_scores': [30, 56, 78, 23, 100],
   'information_technology_scores': [34, 6, 98, 100, 40],
   'physics_scores': [60, 88, 58, 90, 25]},
  'emails': {'student_name': ['Kareena',
    'Alia',
    'Priyanka',
    'Shahrukh',
    'Salman'],
   'student_email': ['Kareena@gmail.com',
    'Alia@gmail.com',
    'Priyanka@gmail.com',
    'Shahrukh@gmail.com',
    'Salman@gmail.com']}}]

In [7]:
# Setup
import pandas as pd

In [24]:
# Function to accept a list of reports
# Return a mega dataframe (for all divisions)

def get_report_df(report_list):
    
    #Create an empty mega report dataframe
    mega_report_df = pd.DataFrame()
    
    #For Loop
    #For Each Division Dictionary in the report:
    ###################################################
    for div_dictionary in report_list:
    
       # Create a Student Scores DataFrame
        scores_df = pd.DataFrame(div_dictionary["scores"])

        # Create an Emails Dataframe
        emails_df = pd.DataFrame(div_dictionary["emails"])

        #  Merge The Two Dataframes Together
        merged_df = pd.merge(scores_df, emails_df, how = "left", on = ["student_name"])

        #  Add a Class Column
        merged_df["class"] = div_dictionary["class"]                      


        # Add a Division Column
        merged_df["division"] = div_dictionary["division"]

        # Add a Teacher Column
        merged_df["class"] = div_dictionary["teacher"]                       

        # Add This Merged Dataframe to Mega Report DataFrame
        mega_report_df = pd.concat([mega_report_df, merged_df], ignore_index = True)
        
        
    #####################################################
        
    mega_report_df ["total_score"] = mega_report_df["physics_scores"] + mega_report_df["chemistry_scores"] + mega_report_df["math_scores"] + mega_report_df["information_technology_scores"]
    mega_report_df ["average_score"] = mega_report_df["total_score"]/4

    mega_report_df.loc[mega_report_df["average_score"]>=35, "status"] = "pass"
    mega_report_df.loc[mega_report_df["average_score"]<=35, "status"] = "fail"
        

        
    
    # Return the Mega Report Dataframe
    return mega_report_df

In [25]:
get_report_df(report_database)

,student_name,math_scores,chemistry_scores,information_technology_scores,physics_scores,student_email,class,division,total_score,average_score,status
0,Jay,20,32,34,6,Jay@gmail.com,Zoshua Colah,A,92,23.00,fail
1,Aaryan,56,36,6,88,Aaryan@gmail.com,Zoshua Colah,A,186,46.50,pass
2,Sahil,76,78,88,48,Sahil@gmail.com,Zoshua Colah,A,290,72.50,pass
3,Riya,78,23,100,90,Riya@gmail.com,Zoshua Colah,A,291,72.75,pass
4,Shubh,90,100,45,25,Shubh@gmail.com,Zoshua Colah,A,260,65.00,pass
5,Jai,32,32,34,6,Jai@gmail.com,Aayushi Shah,B,104,26.00,fail
6,Aryan,56,56,6,88,Aryan@gmail.com,Aayushi Shah,B,206,51.50,pass
7,Firoz,76,75,48,58,Firoz@gmail.com,Aayushi Shah,B,257,64.25,pass
8,Steve,78,23,100,90,Steve@gmail.com,Aayushi Shah,B,291,72.75,pass
9,Rhea,90,10,45,25,Rhea@gmail.com,Aayushi Shah,B,170,42.50,pass
10,Kareena,22,30,34,60,Kareena@gmail.com,Rahul Joy,C,146,36.50,pass
11,Alia,56,56,6,88,Alia@gmail.com,Rahul Joy,C,206,51.50,pass
12,Priyanka,76,78,98,58,Priyanka@gmail.com,Rahul Joy,C,310,77.50,pass
13,Shahrukh,78,23,100,90,Shahrukh@gmail.com,Rahul Joy,C,291,72.75,pass
14,Salman,90,100,40,25,Salman@gmail.com,Rahul Joy,C,255,63.75,pass

In [26]:
main_report = get_report_df(report_database)
main_report

,student_name,math_scores,chemistry_scores,information_technology_scores,physics_scores,student_email,class,division,total_score,average_score,status
0,Jay,20,32,34,6,Jay@gmail.com,Zoshua Colah,A,92,23.00,fail
1,Aaryan,56,36,6,88,Aaryan@gmail.com,Zoshua Colah,A,186,46.50,pass
2,Sahil,76,78,88,48,Sahil@gmail.com,Zoshua Colah,A,290,72.50,pass
3,Riya,78,23,100,90,Riya@gmail.com,Zoshua Colah,A,291,72.75,pass
4,Shubh,90,100,45,25,Shubh@gmail.com,Zoshua Colah,A,260,65.00,pass
5,Jai,32,32,34,6,Jai@gmail.com,Aayushi Shah,B,104,26.00,fail
6,Aryan,56,56,6,88,Aryan@gmail.com,Aayushi Shah,B,206,51.50,pass
7,Firoz,76,75,48,58,Firoz@gmail.com,Aayushi Shah,B,257,64.25,pass
8,Steve,78,23,100,90,Steve@gmail.com,Aayushi Shah,B,291,72.75,pass
9,Rhea,90,10,45,25,Rhea@gmail.com,Aayushi Shah,B,170,42.50,pass
10,Kareena,22,30,34,60,Kareena@gmail.com,Rahul Joy,C,146,36.50,pass
11,Alia,56,56,6,88,Alia@gmail.com,Rahul Joy,C,206,51.50,pass
12,Priyanka,76,78,98,58,Priyanka@gmail.com,Rahul Joy,C,310,77.50,pass
13,Shahrukh,78,23,100,90,Shahrukh@gmail.com,Rahul Joy,C,291,72.75,pass
14,Salman,90,100,40,25,Salman@gmail.com,Rahul Joy,C,255,63.75,pass

In [4]:
# What is the count of students by division and status?
main_report.groupby(["division", "status"]).

SyntaxError: invalid syntax (<ipython-input-4-3486a68375a0>, line 2)

In [3]:
# What is the average count of students by division and status?
main_report.groupby(["division", "status"]).agg(total_students = {"total_score", "min"})

NameError: name 'main_report' is not defined